{# this is some other template that you want to display #}
{% extends "homepage\base.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h4>Search results for "{{ form.search_movie.value }}"</h4>
        <br/>
        {% if iList %}
            {% for m in iList %}
                IMDB Top {{m.rank}} - <a href="/top250/#{{ m.imdb_id }}">{{ m.title }} ({{ m.year}})</a><br/>
            {% endfor %}
        {% endif %}
        
         {% if dList %}
            {% for m in dList %}
                Douban Top {{m.rank}} - <a href="/douban250/#{{ m.douban_id }}">{{ m.original_title }} ({{ m.year}})</a><br/>
            {% endfor %}
        {% endif %}
        
        {% if tList %}
            {% for m in tList %}
                Rotten Tomatoes Top  {{m.rank}} - <a href="/tomatoes100/#{{ m.tomato_id }}">{{ m.title }} ({{ m.year}})</a><br/>
            {% endfor %}
        {% endif %}
        
      </div>
    </div>

{% endblock %}


